.App {
  font-family: sans-serif;
  text-align: center;
}
.media-box {
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  border-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  border-style: solid;
}
